@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

div.modal-dialog{

    max-width: 505px;
 }

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body *{
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c ;  
    display: flex; 
    justify-content: center; /*ajusta no eixo x */
    align-items: center; /*ajusta no eixo y */
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; /*ajusta no eixo x */
    align-items: center; /*ajusta no eixo y */
    flex-direction: column; /*ajusta um embaixo do outro */
}

.left-login > h1 {
    text-align: start;
    color: #1877F2;
    margin-top: 1px;
}
.left-login > h2 {
    color: white
    
}


.right-login {
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center; /*ajusta no eixo x */
    align-items: center; /*ajusta no eixo y */
   

}

.card-login {
    width: 60%;
    padding: 30px 35px;
    display: flex;
    justify-content: center; /*ajusta no eixo x */
    align-items: center; /*ajusta no eixo y */
    flex-direction: column; /*ajusta um embaixo do outro */
    background: #2f2841;
    border-radius: 17px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #1877F2;
    font-weight: 800;
    margin: 0;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: white;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color:#1877F2
}
#Login {
    width: 180px;
    padding: 13px 0px;
    margin: 25px;
    color: white;
    background: #1877F2;
    cursor: pointer;
    box-shadow: 0px 10px 15px -12px white;
}
#Cadastre-se{
    color: white;
    background: #1877F2;
    cursor: pointer;
    box-shadow: 0px 10px 15px -12px white;
}

 

@media only screen and (min-width: 950px) {
    .card-login {
        width: 85%;
    }
    
}

@media only screen and (max-width: 600px) {
    .main-login{
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
        }

    .left-height {
        width: 100%;
        height: auto;
            }

    .card-login{
        width: 90%;
    }

}